
<h3>About Me</h3>
<p>Donec libero libero, bibendum non condimentum ac, ullamcorper at sapien.\
 Duis feugiat urna vel justo cursus facilisis. Vivamus ligula dui, convalli\
s a varius vitae, facilisis eget magna.</p>

<hr noshade size=7>
<h3> Recent Posts</h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<hr noshade size=7>
<h3> Contactame</h3>
<a target="blanck" href="https://www.facebook.com/abimael.riveros/">Facebook</a></p>

